h1 {
    text-align: center;
    color: brown;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#create-workout {
    height: 40px;
    border-radius: 10px;
}

main {
    height: 700px;
    border: 3px black solid;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#workout-list {
    height: 100%;
    width: 10%;
    border: 3px red dotted;
    
}

#current-workout {
    height: 100%;
    width: 50%;
    border: 3px blue dashed;
}

.exercise-row {
    border: 1px rebeccapurple solid;
    margin: 5px;
    font-size: 12px;
    background-image: linear-gradient(yellow, green);
}

#exercise-link {
    font-size: 25px;
}

#muscle-group {
    font-size: 25px;
}

#num-sets {
    font-size: 25px;
}

#num-reps {
    font-size: 25px;
}